@use "../../styles/variables" as *;

.btn {
  display: inline-block;
  padding: $spacing-sm $spacing-md;
  font-size: 1rem;
  font-weight: 800;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.2s ease, transform 0.15s ease;

  &--primary {
    background-color: $purple;
    color: $secondary;
    &:hover {
      opacity: 0.8;
    }
  }

  &--secondary {
    background-color: $secondary;
    &:hover {
      background-color: $secondary;
    }
  }

  &--danger {
    background-color: $red;
    &:hover {
      background-color: $red;
    }
  }
}

.btn2 {
  width: 100%;
  padding-inline: 0.75rem;
  font-size: $font-size-sm;
  border-radius: $radius-sm;
  border: none;
  background-color: #1f75cb;
  min-height: 2rem;
  color: #fff;
  font-weight: 600;
  line-height: 1rem;
  cursor: pointer;

  &:hover {
    background-color: #284779;
  }
}
